button {
  cursor: pointer;
  font-family: inherit;
}

.btn__primary {
  background-color: var(--primary-color);
  color: var(--light-color);
}

.btn__primary:hover {
  background: transparent;
  color: var(--dark-color);

  box-shadow: inset 0 0 0 0.2rem var(--primary-color);
}