// .trend{
//     margin: 2rem 0 0 0;
//     @include flex(column, flex-start, flex-start);
//     width: 60vw;
//     gap: 3rem;
.trend__title {
  grid-column: 1/4;
  grid-row: 2/3;
  align-self: center;
  margin: 0 0 1rem 0;
}

// .trend__wrapper{
//     @include flex(row, flex-start, flex-start);
//     gap: 3rem;
// }

.trend__week {
  @include flex(column, flex-start, center);
  gap: 2rem;
  padding: 2rem;
  background-color: $light-color;
  border-radius: $br-l;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  grid-column: 1/2;
  grid-row: 3/6;
  width: 90%;

  h3 {
    font-size: $fs-m;
    font-weight: $fw-medium;
  }

  &__card {
    background-image: url(../../assets/freedom1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // width: 15vw;
    height: 100%;
    width: 90%;
    @include grid(repeat(3, 1fr), repeat(3, 1fr));
    border-radius: $br-l;

    h2 {
      grid-column: 1/3;
      grid-row: 3/4;
      align-self: flex-start;
      padding: 5px;
      font-size: $fs-sm;
      color: $light-color;
    }
    p {
      grid-column: 1/3;
      grid-row: 3/4;
      align-self: flex-end;
      padding: 5px;
      font-size: $fs-s;
      color: $light-color;
    }
    i {
      grid-column: 3/4;
      grid-row: 3/4;
      align-self: center;
      justify-self: center;
      padding: 0.7rem 0.8rem;
      background-color: $light-color;
      border-radius: $br-xl;
      cursor: pointer;
      font-size: $fs-s;
    }
  }
}

.trend__podcast {
  background-color: $light-color;
  padding: 2rem;
  @include flex(column, flex-start, center);
  // width: 50vw;
  // height: 35vh;
  grid-column: 2/3;
  grid-row: 3/6;
  border-radius: $br-m;

  &__title {
    @include grid(1fr 1fr 1fr, 100%);
    width: 100%;
    margin: 0 0 1rem 0;
    h3 {
      grid-column: 1/2;
      font-size: $fs-m;
      font-weight: $fw-medium;
    }
    button {
      grid-column: 2/3;
      justify-self: flex-start;
      background-color: $primary-color;
      color: $fc-third;
      outline: none;
      border: none;
      justify-self: flex-start;
    }
    i {
      color: $fc-primary;
    }
  }

  &__arrows {
    justify-self: flex-end;
    @include flex(row, center, center);
    // gap: 2rem;

    & > * {
      padding: 2px;
      background-color: $primary-color;
    }
  }

  &__wrapper {
    // @include flex(row, flex-start, center);
    @include grid(1fr 1fr 1fr, 1fr 1fr 1fr);
    height: 100%;
    width: 100%;
    gap: 1rem;
  }

  &__card {
    // @include flex(column, flex-start, flex-start);
    gap: 2rem;
    height: 100%;
    // width: 100%;
    grid-row: 1/3;
    border-radius: $br-m;
    h4 {
      font-size: $fs-m;
      font-weight: $fw-medium;
    }
    p {
      font-size: $fs-sm;
      font-weight: $fw-regular;
    }
  }

  &__time {
    @include flex(row, flex-start, center);
    font-size: $fs-sm;
  }

  &__img {
    grid-row: 1/3;
    height: 100%;
    width: 100%;
    border-radius: $br-m;
  }

  &__text {
    // @include flex(column, flex-start, flex-start);
    grid-row: 3/4;
  }
}

.trend__img__1 {
  background-image: url(../../assets/happy1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.trend__img__2 {
  background-image: url(../../assets/business1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.trend__img__3 {
  background-image: url(../../assets/thinking1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
// }
